.translated-rtl {
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", "Open Sans", Arial, sans-serif;
}
.translated-rtl .modified {
    direction: rtl;
}
.translated-rtl .mbvideo-d {
        direction: rtl;
}
.translated-rtl  .description txt {
    margin-left: 5px;
}
.translated-rtl .description .eerr444 img {
    margin-left: 8px;
}
.translated-rtl .box-button {
    padding: 0px 20px;
    height: 29px;
}
.translated-rtl .mbvideo-d {
    padding-bottom: 22px;
}
.translated-rtl #box234 .heart-menu {
    direction: rtl;
    padding-right: 18px;
    padding-left: 0;
}
.translated-rtl #box234 .heart-menu .ve {
    margin-left: 0;
}
.translated-rtl #box234 .modified l {
    margin-right: 4px;
}
    



@media screen and (max-width: 400px) {
    .translated-rtl .description txt {
        margin-right: 0;
    }
    .translated-rtl .header-logo {
        font-size: 20px;
    }
}




