.body-dark {
    color: rgb(255 255 255 / 85%);
}
.body-dark .header-link .ve {
    outline: solid 1px #dde2e7;
}
.body-dark input {
    color: #ebebeb;
}
.body-dark .header-link .ve:hover {
    background: rgb(255 255 255 / 14%);
}
.body-dark header {
    background: #272727;
    box-shadow: 0px 5px 7px #272727;
}
.body-dark .body {
    background: #272727;
}
.body-dark .desgg {
    background: #272727;
}
.body-dark .header-link .ve svg, .body-dark .div-video button svg, .body-dark .ddde svg, .body-dark filter svg {
    color: #ebebeb;
    fill: #ebebeb;
}
.body-dark .box {
    text-shadow: 0px 1px 3px #0000002b;
}
.body-dark .heart, .body-dark .filter-div {
    background: #272727;
    box-shadow: 0px 0px 0px 1px #3f3f3f, 0px 8px 16px -4px #00000014, 0px 4px 32px -4px #00000014, 0px 24px 48px -12px #00000014, 0px 48px 96px -24px #00000014;
}
.body-dark .heart-menu {
    background: #272727;
    border-bottom: solid 1px rgb(255 255 255 / 10%);
}
.body-dark #ffffd, .body-dark #videoModal, .body-dark #searchModal {
    background-color: #00000066;
}
.body-dark #ffffd:active, .body-dark #videoModal:active  {
    background-color: #00000048;
}
.body-dark .favorite-item {
    color: rgb(247 247 247 / 85%);
}
.body-dark .fffder:hover {
    background: rgb(255 255 255 / 8%);
}
.body-dark .modal-content {
    background: #272727;
    box-shadow: 0px 0px 0px 1px #3f3f3f, 0px 8px 16px -4px #00000014, 0px 4px 32px -4px #00000014, 0px 24px 48px -12px #00000014, 0px 48px 96px -24px #00000014;
}
/* .body-dark #videoModal {
    background: #00000066;
} */
.body-dark .div-video button {
    background: #272727;
}
.body-dark .div-video button:active {
    background-color: #272727;
}
.body-dark .ripple {
    background: rgba(255, 255, 255, 0.116);
}
.body-dark .mbvideo-d .ripple {
    background: rgba(122, 122, 122, 0.116);
}
.body-dark .favorite-item .ve, .body-dark .heart-menu .ve {
    outline: none;
}
.body-dark .div-video button:hover svg {
    color: rgb(83, 157, 255);
}
.body-dark .div-video button:active svg {
    color: rgb(83, 157, 255);
}
.body-dark .heart-menu::before {
    background-color: #ffffffba;
}
.body-dark .jon-div .ve {
    background: #272727;
    outline: solid 1px #939393;
    box-shadow: 0px 2px 6px #000;
} 
.body-dark .header-link .ve:hover {
    background: #414141;
}
.body-dark .header-link .ve:focus {
    background: #414141;
}
.body-dark .links-Translate-div {
    background-color: #2c3139;
    fill: white;
}
.body-dark .selected-lang-button a {
    color: #474e58;
}
.body-dark .Translate-div, .Translate-div-tr a {
    color: #d5d5d5;
}
.body-dark .sssw123 svg {
    color: white;
}
.body-dark .Translate-div:hover {
    background-color: #73bcff30;
}
.body-dark .links-Translate-search input {
    color: #dfdfdf;
}
.body-dark .vvvvvv123 {
    opacity: .3;
    text-shadow: -101px 0px 0px #ffffff;
}
.body-dark #searched_query_display {
    color: white;
}
.body-dark .selected-lang-button {
    background-color: rgb(139 214 255) !important;
}
