@media screen and (max-width:400px) {
    body .mbvideo-heart svg {
        top: 2px;
    }
    body .none, .header-link .none{
        display: none;
    }
    .body {
        overflow-y: auto;
    }
    body a, .favorite-item, #ffffd {
        cursor: context-menu;
    }
    .mbvideo-d {
        width: auto;
    }
    body button {
        cursor: context-menu;
    }
    body .mbvideo-d, body .description, body .header-logo, body a, .he-h .ve, .search-result  {
        cursor: context-menu;
    }
    /* .modal-content .div-video {
        opacity: 1;
    } */
    body .baner {
        height: 247px;
    }
    body .box h1 {
        margin-top: 0;
    }
    body .vo {
        margin-top: 10px;
    }
    body .progress-bar {
        margin: 0px 34px;
        bottom: 78px;
    }
    .description txt {
        font-size: 14px;
        margin-right: 5px;
    }
    .baner-div {
        height: 74%;
        overflow: hidden;
    }
    .div-video button {
        margin: 0 5px;
        opacity: .5;
    }
    body .div-video {
        padding: 10px;
        opacity: 1;
        top: auto;
        bottom: 100px;
        width: 100%;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        justify-content: center;
    }
    .div-video button:hover {
        opacity: 1;
    }
    .header-logo {
        font-size: 21px;
    }
    .header-logo img {
        height: 31px;
    }
    .baner {
        margin-top: 6px;
    }
    .mbvideo-im:hover img {
        transition: 0.2s;
        transform: none;
    }
    .mbvideo-im:active img {
        transition: 0.2s;
        transform: scale(1.1);
    }
    body .mbvideo-heart {
        width: 34px;
        height: 34px;
    }
    body .heart {
        position: fixed;
        scrollbar-width: none;
        width: -webkit-fill-available;
        bottom: 0;
        border-radius: 25px 25px 0px 0px;
        margin: 0 16px;
        transform: none;
        min-height: 498px;
        max-height: 97%;
        left: auto;
        box-shadow: 0px -9px 20px #46506924;
    }
    body .favorite-item:last-child {
        margin-bottom: 38px;
    }
    body #box234 {
        will-change: transform, opacity;
        transform: translateZ(0); /* تسريع الأداء */
    }

    body #box234.swiping {
        cursor: grabbing !important;
        user-select: none !important;
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
    }
    body .heart-menu::before {
    transition: 0.2s;
    position: absolute;
    content: '';
    height: 5px;
    width: 40px;
    top: 14px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    background-color: #5a63747d;
    }
    body .heart-menu:active:before {
        transform: translate(-50%) rotateY(35deg);
    }
    body .links-Translate-div .sssw123 {
        cursor: context-menu;
    }
    body .search-video {
        /* max-height: 700px; */
        bottom: auto;
        border-radius: 0px 0px 25px 25px;
        box-shadow: 0px 0px 0px 1px #d1d9e0, 0px 8px 16px -4px #25292e14, 0px 4px 32px -4px #25292e14, 0px 24px 48px -12px #25292e14, 0px 48px 96px -24px #25292e14;
    }
}
@media screen and (max-height:400px) {
    .desgg {
        display: flex;
    }
}
